main > .container {
    padding: 60px 15px 0;
}

container
{
    
    
	margin-top: 100px;
    margin-bottom: 100px;
	min-height: 100%;
    clear: both;
}
body
{
	
	margin-top: 60px;
    margin-bottom: 100px;
	min-height: 100%;
    clear: both;
}

img {
    /*border-radius: 50%;

     */
}
#findCharger{
    padding: 15px 15px;
}




#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}


#content {
    background-color: #fff;
    /*border-top: solid 6px #f00; */

}

#footer {
	
    /*margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff; */
}

#loginbtn{
    margin-top: 10px;
    margin-bottom: 10px;
}
#logoutbtn{
    margin-top: 10px;
}
#cards
{
    padding: 15px 15px;
}
#map
{
    height: 70vh;
    width: 100%;
}
.my-input-class
{
    text-align: center;
    top: 10px;

    width: 30vh;
    height: 3vh;
}
.suggestion-box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

.suggestion {
    padding: 5px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f1f1f1;
}


